.error-page-container {
    display: flex;
    height: 80vh;
    justify-content: center;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-code {
    font-family: 'Varela round', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: white;
}

.error-message {
    font-family: 'Varela round', sans-serif;
    color: white;
    margin-top: 1rem;
}