.error-page-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

/* .error-message {
    transform: scaleY(1.4);
} */
