body {
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
    height: 5000px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    /* border: 2px solid red; */
}

.hero-background {
    position: absolute;
    width: 80vw;
    height: 80vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,33,62,1) 100%);
}

.hero-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20vh 8vw 0 8vw;
    gap: 3rem;
    /* flex-flow: wrap; */
    z-index: 1;
    /* border: 1px solid red; */
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    /* border: 1px solid #14D28D; */
}

.hero-left > h1{
    color: white;
    font-family: 'Varela round', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
}

.hero-left > p {
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.hero-right > img {
    width: 20vw;
    transform: scale(-1, 1) rotate(-60deg);
    animation: astronautAnimaiton 4.5s ease-in-out alternate infinite;
    /* border: 2px solid red; */
}

.hero-arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);  /*to move the element to the left half (50%) or it's own width to center it in the page*/ 
    align-items: center;
    gap: 8px;
    cursor: pointer;
    /* margin-top: 50px; */
    /* border: 1px solid #14D28D; */
    z-index: 1;
}

.hero-arrow > p {
    color: lightgray;
    font-size: 1rem;
    font-weight: 100;
}

.hero-arrow > svg {
    animation: arrowdownAnimation 1s ease-out alternate infinite;
}


@keyframes astronautAnimaiton {
    to {
        transform: translateY(-50px) scale(-1, 1) rotate(-63deg);
    }
}

@keyframes arrowdownAnimation {
    to {
        transform: translateY(-5px);
    }
}

.skills-container {
    display: flex;
    flex-direction: column;
    margin: 10vh 8vw;
    /* border: 1px solid aqua ; */
}

.skill-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    height: 100vh;
    /* overflow: hidden; */
    /* border: 2px solid yellow; */
}

.skill-wrapper.right {
    flex-direction: row-reverse;
    /* border: 2px solid violet; */
}

.skill-wrapper > .skill-pic {
    width: 20vw;
    /* width: auto; */
    /* border: 2px solid red; */
}

#michel {
    mix-blend-mode: lighten;
}

#polished_obj {
    transform: rotate(-150deg);
    width: 15vw;
}

.skill-context {
    display: flex;
    flex-direction: column;
    position:relative;
    right: 50%;
    width: 42%;
    /* width: fit-content; */
    transform: translateX(60%);
    /* border: 3px solid greenyellow; */
}

.skill-context.right {
    right: revert;
    transform: revert;
    left: 50%;
    transform: translateX(-40%);
}

.skill-title {
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 2.5rem; */
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}

.skill-text {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
    line-height: 2.5rem;
}

ul {
    list-style: none;
}

.skill-text.two-columns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

a {
    text-decoration: none;
}

.about-me-wrapper {
    display: flex;
    align-items: center;
    margin: 15vh 8vw 0 8vw; 
    /* border: 1px solid gold; */
}

.about-me-wrapper > h2 {
    flex-basis: 27vw;
    flex-shrink: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    /* border: 2px solid tomato; */
}

.about-me-wrapper > h2 span {
    color: var(--emphesis-color);
}

.about-me-text {
    flex-shrink: 1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
    line-height: 2.5rem; 
    width: fit-content;
    /* border: 3px solid orangered; */
}

.about-me-text#email {
    font-size: 1.5rem;
}

.about-me-wrapper.contact > h2 {
    align-self: flex-start;
}

.social-media-wrapper {
    display: flex;
    align-self: flex-start;
    gap: 2vw;
}

.social-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    cursor: pointer;
    /* border: 1px solid white; */
}

.social-app > svg {
    transition: all 0.5s ease-out;
}

.social-app > svg:hover {
    transform: translateY(-10px);
}

.social-app > svg .fill-preview {
    transition: all 0.25s ease;
}

.social-app > svg .stroke-preview {
    transition: all 0.25s ease;
}

.social-app svg:hover .fill-preview {
    width: 50px;
    height: auto;
    fill: var(--emphesis-color);
    transition: all 0.25s ease;
}

.social-app svg:hover .stroke-preview {
    width: 50px;
    height: auto;
    stroke: var(--emphesis-color);
    transition: all 0.25s ease;
}

/*This statement changes the .app-name that is next to svg while hovering over it*/
.social-app > svg:hover + .app-name {
    opacity: 1;
    transition: all 0.25s ease-in;
}

.app-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    opacity: 0;
    color: var(--emphesis-color);
    margin-top: 0.5rem;
    transition: all 0.25s linear;
}


@media screen and (max-width: 50em) {
    .hero-context {
        margin: 15vh 8vw 2vw 8vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-left {
        /* margin-right: 2rem; */
        margin-bottom: 2rem;
        max-height: 40vh;
    }

    .hero-left > h1{
        font-size: 3rem;
    }

    .hero-left > p{
        font-size: 1.1rem;
    }

    .hero-right > img{
        width: 27vh;
    }

    .skill-wrapper {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .skill-wrapper.right {
        flex-direction: column;
        /* border: 2px solid violet; */
    }

    .skill-wrapper > .skill-pic {
        min-width: 150px;
        /* border: 2px solid red; */
    }

    #polished_obj {
        width: 100px;
    }

    .skill-context {
        all: revert;
        display: flex;
        flex-direction: column;
        position:relative;
        /* border: 3px solid green; */
    }

    .skill-context.right {
        all: revert;
        /* border: 3px solid green; */
    }

    .skill-title {
        font-size: 2rem;
        color: white;
    }

    .skill-text {
        margin-top: 1rem;
        font-size: 1.1rem;
        color: white;
        line-height: 2rem;
    }

    @keyframes pictureAnimationMobile {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }
    }

    .about-me-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem
    }

    .about-me-wrapper.email {
        display: flex;
        margin: 15vh 8vw 0 8vw; 
        display: flex;
        align-items: flex-start;
        /* border: 1px solid gold; */
    }

    .about-me-wrapper > h2 {
        flex-basis: revert;
        width: fit-content;
        font-size: 2rem;
    }

    .about-me-text {
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: white;
        line-height: 2rem;
    }
}


/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif; */